<div class=container>

  <div class="container mt-5">
    <h2>Percentual distribution of available cars by Make</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Make</th>
          <th scope="col">Distribution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Audi</td>
          <td>55%</td>
        </tr>
        <tr>
          <td>BMW</td>
          <td>35%</td>
        </tr>
        <tr>
          <td>VW</td>
          <td>10%</td>
        </tr>
      </tbody>
    </table>
    <div><%= link_to "Back", root_path %></div>
  </div>

</div>
