<div class=container>

  <div class="container mt-5">
    <h2>Average Price of the 30% most contacted listings</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Average price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>€12.512,-</td>
        </tr>
      </tbody>
    </table>
    <div><%= link_to "Back", root_path %></div>

<h2><%= @sorted %></h2>

</div>


</div>
