<div class=container>

  <div class="container mt-5 ms-5">
    <h2>Average Listing Selling Price per Seller Type</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Seller Type</th>
          <th scope="col">Average in Euro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>private</td>
          <td>€2.500,-</td>
        </tr>
        <tr>
          <td>dealer</td>
          <td>€3.529,-</td>
        </tr>
        <tr>
          <td>other</td>
          <td>€1.200,-</td>
        </tr>

      </tbody>

    </table>
  </div>


</div>
